[submodule "themes/novela"]
	path = themes/novela
	url = https://github.com/braynm/hugo-theme-novela
[submodule "themes/novela-fork"]
	path = themes/novela-fork
	url = git@github.com:braynm/hugo-theme-novela.git
